<%- include('includes/head.ejs') %>

    <div class="home-content">
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div id="headings">
                    <div id="item">
                        <h1>ID OF FLAT</h1>
                    </div>
                    <div id="item">
                        <h1>BHK</h1>
                    </div>
                    <div id="item">
                        <h1>Cost</h1>
                    </div>
                    <div id="item">
                        <h1>Floor</h1>
                    </div>
                </div>

                <% flats.forEach(function(flat){ %>
                    <div id="headings">
                        <div id="item">
                            <h1>
                                <%=flat.idofflat %>
                            </h1>
                        </div>
                        <div id="item">
                            <h1>
                                <%=flat.bhk %>
                            </h1>
                        </div>
                        <div id="item">
                            <h1>
                                <%=flat.Cost %>
                            </h1>
                        </div>
                        <div id="item">
                            <h1>
                                <%=flat.floor %>
                            </h1>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>

    </div>

    <%- include('includes/end.ejs') %>