<%- include('includes/head.ejs') %>
    <title>CORNERSTONE</title>
    </head>

    <body>
        <!-- Header -->
        <header id="home" class="header">
            <%- include('includes/nav.ejs') %>

                <!-- Hero -->
                <img src="./images/banner1.png" alt="" class="hero-img" />

                <div class="hero-content">
                    <h2>Home Away From Home </h2>
                    <h1>
                        <span>CORNERSTONE</span>
                    </h1>
                    <a class="btn" href="pgs">PGs</a>
                    <a class="btn" href="flats">Flats</a>
                </div>
        </header>

        <!-- Main -->
        <section class="services" id="padding">

            <div class="title">
                <h1>Why Choose Us</h1>
            </div>

            <div class="box-container">

                <div class="box">
                    <img src="images/wcu1.jpg" alt="">
                    <h3>NO BROKERAGE/HIDDEN CHARGES/TERMS AND CONDITIONS</h3>
                    <p>Best things in life are often free</p>
                </div>

                <div class="box">
                    <img src="images/wcu2.jpg" alt="">
                    <h3>CEASE THE HOUSE HUNT</h3>
                    <p>Wishlist properties and our team will accompany you to the location</p>
                </div>

                <div class="box">
                    <img src="images/wcu3.jpg" alt="">
                    <h3>Rs.250 CASHBACK</h3>
                    <p>Right decisions are always rewarded</p>
                </div>

            </div>
        </section>

        <!-- Featured -->
        <section class="section featured">
            <div class="title">
                <h1>PGs</h1>
            </div>

            <% products.forEach((product)=>{ %>
                <div class="product-center container">
                    <div class="product">
                        <div class="product-header">
                            <img src="./images/pic2.jpg" alt="">
                            <ul class="icons">
                                <span><i class="bx bx-heart"></i> Wishlist</span>
                            </ul>
                        </div>
                        <div class="product-footer">
                            <h3>CornerDen#<%= product.idofpg %>
                            </h3>
                            <form action="pgdetails" method="post"><span><input class="hidden"
                                        value="<%= product._id %>" name="id"></span><button type="submit"
                                    class="btn">Details</a></form>
                        </div>
                    </div>
                </div>
                <% }) %>
                    <div id="center">
                        <a class="btn" href="pgs">All PGs</a>
                    </div>

        </section>

        <!--Latest -->
        <section class="section featured" id="padding">
            <div class="title">
                <h1>Flats</h1>
            </div>

            <div class="box-container">

                <% flats.forEach((flat)=>{ %>
                    <div class="box">
                        <div class="image-container">
                            <img src="images/img-1.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="price">
                                <h3>Rs<%=flat.Cost %>/mo</h3>
                            </div>
                            <div class="location">
                                <h3>CornerDen #<%=flat.idofflat %>
                                </h3>
                                <p>
                                    <%=flat.distancefromjusl %> mins distace from JUSL
                                </p>
                                <p>
                                    <%=flat.distancefromiem %> mins distace from IEM
                                </p>
                                <p>
                                    <%=flat.distancefromtechno %> mins distace from TECHNO INDIA
                                </p>
                            </div>
                            <div class="details">
                                <h3> <i class="fas fa-expand"></i>
                                    <%=flat.floor %> Floor
                                </h3>
                                <h3> <i class="fas fa-bed"></i>
                                    <%=flat.bhk %>
                                </h3>
                            </div>
                            <div class="buttons">
                                <a href="https://chat.whatsapp.com/IGhfivV4PHA2DmndDgOY7Q" class="btn">Whatsapp</a>
                                <a href="tel:8017254479" class="btn">Call</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <div id="center">
                <a class="btn" href="flats">All Flats</a>
            </div>

        </section>

        <!-- Product Banner -->
        <section class="section">
            <div class="product-banner">
                <div class="left">
                    <img src="./images/banner1.jpg" alt="" />
                </div>
                <div class="right">
                    <div class="content">
                        <h2><span class="discount">Rs. 250</span> CASHBACK</h2>
                        <h1>
                            <span>Exclusive perks</span>
                            <span>if you signup</span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <%- include('includes/end.ejs') %>