<%- include('includes/head.ejs') %>
    <title>PGs</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('includes/nav.ejs') %>
            <section class="section all-products" id="products">

                <div class="top container">
                    <h1>All PGs</h1>
                    <form method="get" action="pgs">
                        <select name="sort" id="sort">
                            <option value="">Defualt Sorting</option>
                            <option value="gender">Female Pgs only</option>
                            <option value="genderm">Male Pgs only</option>
                            <option value="tocost">Sort By Price</option>
                        </select>
                        <input type="submit" class="btn" value="Go" />
                    </form>
                </div>

                <div class="product-center container">
                    <% products.forEach((product)=>{ %>
                        <div class="product">
                            <div class="product-header">
                                <img src="<%= product.pic1 %>" alt="">
                            </div>
                            <div class="product-footer">
                                <h3>CornerDig <%= product.idofpg %>&nbsp; <span>
                                            <%= product.gender %>
                                        </span>
                                </h3>
                                <div id="price">
                                    <%= product.distancefromjusl %> mins from JU Salt Lake Campus <br>
                                        <%= product.distancefromtechno %> mins from Techno India <br>
                                            <%= product.distancefromiem %> mins from IEM
                                </div>
                                <form action="pgdetails" method="post"><span><input class="hidden"
                                            value="<%= product._id %>" name="id"></span><button type="submit"
                                        class="btn">Details</a></form>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </section>
            <%- include('includes/end.ejs') %>
            
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<!-- Custom Script -->
<script src="js/index.js"></script>
</body>

</html>