<%- include('includes/head.ejs') %>
    <title>PGs</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('includes/nav.ejs') %>
            <section class="section all-products" id="products">

                <div class="top container">
                    <h1>All PGs</h1>
                    <%# <form>
                        <select>
                            <option value="1">Defualt Sorting</option>
                            <option value="2">Female Pgs only</option>
                            <option value="3">Sort By Price</option>
                            <option value="4">Sort By location</option>
                        </select>
                        </form> %>
                </div>

                <div class="product-center container">
                    <% products.forEach((product)=>{ %>
                        <div class="product">
                            <div class="product-header">
                                <img src="<%= product.pic1 %>" alt="">
                            </div>
                            <div class="product-footer">
                                <h3>CornerDig <%= product.idofpg %>&nbsp; <span>
                                            <%= product.gender %>
                                        </span>
                                </h3>
                                <div id="price">
                                    <%= product.distancefromjusl %> mins from JU Salt Lake Campus <br>
                                        <%= product.distancefromtechno %> mins from Techno India <br>
                                            <%= product.distancefromiem %> mins from IEM
                                </div>
                                <form action="pgdetails" method="post"><span><input class="hidden"
                                            value="<%= product._id %>" name="id"></span><button type="submit"
                                        class="btn">Details</a></form>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </section>
            <%- include('includes/end.ejs') %>