<%- include('includes/head.ejs') %>
    <title>Wishlist</title>
    <link rel="stylesheet" href="css/wishlist.css">
    </head>

    <body>
        <%- include('includes/nav.ejs') %>

            <section class="shopping-cart">

                <h1 class="title"> Your Wishlist </h1>

                <div class="box-container">

                    <% products.forEach((product)=>{ %>
                    <div class="box">
                        <img src="images/pic1.jpg" alt="">
                        <div class="content">
                            <h3><%= product.gender %>PG</h3>
                                <span>Cornerden#<%= product.idofpg %></span>
                        </div>
                    </div>
              
                <% }) %>
            </div>
            </section>

            <%- include('includes/end.ejs') %>
            
<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<!-- Custom Script -->
<script src="js/index.js"></script>
</body>

</html>